{% if item.images.length > 2 %}
<div>
	<div class="q-imageslider-button-container">
		{%- for image in item.images %}
		<button type="button" class="q-imageslider-button">
			<label class="q-imageslider-label s-font-sans s-font-note">
				<span class="q-imageslider-label-text {% if loop.index0 == item.options.startImage %} s-color-gray-9 {% else %} s-color-gray-4 {% endif %}">{{
					image.label }}</span>
			</label>
			<span class="q-imageslider-circle {% if loop.index0 == item.options.startImage %} s-color-primary-5 {% else %} s-color-gray-4 {% endif %}"></span>
		</button>
		{%- endfor %}
	</div>
	<div class="q-imageslider-bar s-color-gray-4"></div>
</div>
{% else %}
<div class="s-input-switch s-input-switch--centered">
	<input class="q-imageslider-switch" type="checkbox" {% if not(item.options.startImage===0 ) %} checked {% endif %}/> {%-
	for image in item.images %}
	<label>{{ image.label }}</label>
	{%- endfor %}
</div>
{% endif %}
<div class="q-imageslider-container">
	<div class="q-imageslider-image-container" style="position:relative; padding-bottom: {{ paddingBottom }}%">
		{%- for image in item.images %}
		<picture>
			<source type="image/webp" srcset="{{ image.urls.webp1x }} 1x, {{ image.urls.webp2x }} 2x">
			<source srcset="{{ image.urls.image1x }} 1x, {{ image.urls.image2x }} 2x">
			<img class="q-imageslider-image" data-imageIndex="{{ loop.index0 }}" style="position:absolute; display:block; width:100%; {% if loop.index0 === item.options.startImage %} opacity: 1; {% else %} opacity: 0; {% endif %}"
			 src="{{ image.urls.image1x }}">
		</picture>{%- endfor %}
	</div>
	<p class="q-imageslider-caption s-font-note s-font-note--light">
		{{ startImage.caption }}
		<span>
			{%- if startImage.credit.text %} {%- if startImage.credit.link.url and startImage.credit.link.isValid %} (Bild: <a href="{{ startImage.credit.link.url }}"
			 target="blank" rel="noopener noreferrer">{{ startImage.credit.text }}</a>) {%- else %} (Bild: {{ startImage.credit.text
			}}) {%- endif %} {%- endif %}
		</span>
	</p>
</div>
</div>
