<div class="s-q-item q-imageslider" style="opacity: 0;" id="{{ id }}">
  {%- include "./header.html" %}
  {% if multiple %}
  <div>
    <div class="q-imageslider-button-container">
        {%- for image in item.images %}
          {%- if loop.first %}
          <button type="button" class="q-imageslider-button q-imageslider-button--first">
              <label class="q-imageslider-label s-font-sans s-font-note s-color-gray-9">{{ image.label }}</label>
              <span class="q-imageslider-circle s-color-primary-5"></span>
          {%- elif loop.last %}
          <button type="button" class="q-imageslider-button q-imageslider-button--last">
              <label class="q-imageslider-label s-font-sans s-font-note s-color-gray-4">{{ image.label }}</label>
              <span class="q-imageslider-circle s-color-gray-4"></span>
          {%- else %}
          <button type="button" class="q-imageslider-button">
              <label class="q-imageslider-label s-font-sans s-font-note s-color-gray-4">{{ image.label }}</label>
              <span class="q-imageslider-circle s-color-gray-4"></span>
          {%- endif %}
          </button>
        {%- endfor %}
    </div>
    <div class="q-imageslider-bar s-color-gray-4"></div>
  </div>
  {% else %}
  <div class="s-input-switch">
      <input class="q-imageslider-switch" name="switch" type="checkbox" value="on"/>
      {%- for image in item.images %}
      <label>{{ image.label }}</label>
      {%- endfor %}
  </div>
  {% endif %}
  <div>
    {%- for image in item.images %}
      {%- if loop.first %}
        <div style="display: block" class="q-imageslider-image">
      {%- else %}
        <div style="display: none" class="q-imageslider-image">
      {%- endif %}
          <div style="position:relative; padding-bottom: 62.6%">
            <img src="{{ image.file.url }}" style="position:absolute; display:block; width:100%"/>
          </div>
          <p class="q-imageslider-caption s-font-note s-font-note--light">
            {{ image.caption }}
            <span>{{ image.credit }}</span>
          </p>
        </div>
    {%- endfor %}
        </div>
  </div>
  {%- include "./footer.html" %}
</div>
