<div class="s-q-item q-imageslider" style="opacity: 0;" id="{{ id }}">
  {%- include "./header.html" %}
  {% if multiple %}
  <div>
    <div class="q-imageslider-button-container">
        {%- for image in item.images %}
          <button type="button" class="q-imageslider-button">
              <label class="q-imageslider-label s-font-sans s-font-note s-color-gray-4">{{ image.label }}</label>
              <span class="q-imageslider-circle s-color-gray-4"></span>
          </button>
        {%- endfor %}
    </div>
    <div class="q-imageslider-bar s-color-gray-4"></div>
  </div>
  {% else %}
  <div class="s-input-switch s-input-switch--centered">
      <input class="q-imageslider-switch" name="switch" type="checkbox" value="on"/>
      {%- for image in item.images %}
      <label>{{ image.label }}</label>
      {%- endfor %}
  </div>
  {% endif %}
  <div class="q-imageslider-container">
    <div class="q-imageslider-image-container" style="position:relative; padding-bottom: {{ ((item.images[0].file.height / item.images[0].file.width) * 100) | round(2) }}%">
      {%- for image in item.images %}
        {%- if loop.first %}
        <img class="q-imageslider-image" src="{{ image.file.url }}" data-width="{{  image.file.width }}" data-height="{{  image.file.height }}" data-caption="{{ image.caption }}" data-credit="{{ image.credit }}" style="position:absolute; display:block; width:100%; opacity: 1;"/>
        {%- else %}
        <img class="q-imageslider-image" src="{{ image.file.url }}" data-width="{{  image.file.width }}" data-height="{{  image.file.height }}" data-caption="{{ image.caption }}" data-credit="{{ image.credit }}" style="position:absolute; display:block; width:100%; opacity: 0;"/>
        {%- endif %}
      {%- endfor %}
    </div>
    <p class="q-imageslider-caption s-font-note s-font-note--light">
      {{ item.images[0].caption }}
      <span class="q-imageslider-credit">{{ item.images[0].credit }}</span>
    </p>
  </div>
</div>
  {%- include "./footer.html" %}
</div>
