.q-imageslider {
  opacity: 1 !important;
}

.q-imageslider__subtitle {
  margin-bottom: 12px;
}

.q-imageslider-image--is-visible {
  display: block !important;
}

.q-imageslider-image--is-hidden {
  display: none !important;
}

.q-imageslider-button-container {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.q-imageslider-button {
  display: flex;
  flex-flow: column nowrap;
  align-items: center !important;
  background-color: transparent;
  border-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 2;
}

.q-imageslider-button--first {
  align-items: flex-start !important;
}

.q-imageslider-button--last {
  align-items: flex-end !important;
}

.q-imageslider-label {
  padding-bottom: 5px;
  cursor: pointer;
}

.q-imageslider-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid currentColor;
  background-color: currentColor;
}

.q-imageslider-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: currentColor;
  border-radius: 5px;
  top: -15px;
}

.q-imageslider-caption {
  margin-top: 8px;
  margin-bottom: 0;
}
